.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

# Ignore the virtualenv
virtual/

# Ignore python cache and notebook checkpoints.
__pycache__
.ipynb_checkpoints
*.pyc
*.p

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*
.idea/
